SHELBY_ACCOUNT=0xYOUR_APTOS_ACCOUNT
SHELBY_API_KEY=YOUR_SHELBY_API_KEY
SHELBY_RPC_BASE_URL=https://api.shelbynet.shelby.xyz/shelby
SHELBYTRAIN_API_ORIGIN=http://127.0.0.1:8000
NEXT_PUBLIC_API_BASE_URL=
