SHELBY_ACCOUNT=0xeaec61d685188240cab1ad8bd3cb94b4b627e48677a19b6db45a70956223971e
SHELBY_API_KEY=aptoslabs_2zoTQtsqgQd_MsegwCYFLKgNs96MhYCjhEHUA3MxWZ1sT
SHELBY_RPC_BASE_URL=https://api.shelbynet.shelby.xyz/shelby
